* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  ul,
  ol {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  body {
    scroll-behavior: smooth;
  }
   a {
    color: white;
  }