.aheader {
    display: flex;
    width: 120px;
    height: 80px;
    margin-right: 154px;
    padding-top: 22px;
 }
 .ulheader {
    display: flex;
    align-items: center;
 }
 .languages {
    display: flex;
 }
 .sectionheader {
    display: flex;
    align-items: center;
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
 }
 .header {
    background-color: #012D63;
    height: 93px;
 }
 .li-items {
    color: #c7c7c7;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    margin-right: 40px;
 }
 .li-items:hover {
    color: white;
    text-decoration: underline;
 }
 .languages {
    margin-left: 55px;
 }
.mainpage {
    margin-left: 100px;
}
.languages-item {
    margin-left: 30px;
}
.ua {
    color: white;
    text-decoration: underline;
    margin-right: 10px;
    padding-right: 10px;
    }
    .eng {
    color: #c7c7c7;
    }
/*SECOND SECTION*/
.mainfirst {
    background-image: url(./fonone.webp);
    height: 858px;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.divmainfirst {
    width: 1185px;
    padding: 0 15px;
    margin: 0 auto;
}
.firstmainlogo {
    width: 180px;
    height: 180px;
    padding-top: 60px;
    padding-bottom: -10px;
}
.firstmainh3 {
font-size: 48px;
font-family:"PT Serif" ;
font-weight: 400;
color: white;
padding-left: 20px;
margin-bottom: -25px;
}
.firstmainh1 {
font-size: 144px;
font-family: "Playfair Display";
font-weight: 400;
color: white;
padding-top: 3px;
}
.firstmainh2 {
font-size: 72px;
font-family: "Playfair Display";
font-weight: 400;
color: white
}
.firstmainp {
font-size: 18px;
font-family: "Playfair Display";
font-weight: 400;
color: white;
}
.buttonmain {
color: white;
background-color: #8E32C6;
width: 255px;
height: 67px;
padding-top: 4px;
border-radius: 10px;
font-size: 20px;
margin-top: 40px;
}
/*THIRD SECTION*/
.sectionmaintwo {
    background-image: url(./fontwo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0;
}
.container {
width: 1140px;
padding: 0 15px;
margin: 0 auto;
}
.likeulone {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 5px solid rgb(152,90 ,198 );
   padding: 25px 50px;
}
.ulitemslove {
   color: rgb(255, 255, 255);
   font-family: "Playfair Display"; 
   font-size: 42px; 
   font-weight: 400; 
   line-height: 48px; 
   text-align: center;
}
.lithree:first-child {
   width: 290px;
   padding-right: 50px;
   border-right: 1px solid rgb(255, 255, 255);
}
.lithree:last-child {
   width: 290px;
   padding-left: 50px;
   border-left: 1px solid rgb(255, 255, 255);
}
.rewiews-heading {
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #FFFF;
}
/*FOURTH SECTION*/
.reviews {
   padding-top: 24px;
   padding-bottom: 114px;
 
   background-image: url(./flowers.webp), url(./fonthree.webp);
   background-position: left, center;
   background-repeat: no-repeat, no-repeat;
   background-size: contain, cover;
   border-top: 1px solid #ffffff;
   border-bottom: 1px solid #ffffff;
 }
 
 .reviews-h2 {
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 64px;
   text-align: center;
   margin-bottom: 24px;
   color: #ffffff;
 }
 
 .reviews-list {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .reviews-item:first-child {
   background: linear-gradient(
     137deg,
     #00e5e6 7.29%,
     #00a8f7 26.04%,
     #9a76f9 62.5%,
     #cc5ec2 100%
   );
   box-shadow: 0px 14px 0px -5px rgb(123, 84, 179),
     0px 30px 0px -10px rgb(83, 57, 120);
 }
 .reviews-item {
   padding: 49px 14px 30px 13px;
   width: 255px;
 
   background: linear-gradient(
     137deg,
     #ff68b4 0%,
     #ff45e1 26.04%,
     #ce3aff 62.84%,
     #8961ff 100%
   );
   box-shadow: 0px 14px 0px -5px rgb(145, 89, 177),
     0px 30px 0px -10px rgb(97, 51, 124);
   border-radius: 15px;
 }
 
 .reviews-item:last-child {
   background: linear-gradient(
     143deg,
     #ffe128 0%,
     #ff9b5c 30.21%,
     #ff8381 63.29%,
     #ff5489 100%
   );
   box-shadow: 0px 14px 0px -5px rgb(185, 90, 76),
     0px 30px 0px -10px rgb(115, 47, 38);
 }
 .reviews-item:not(:last-child) {
   margin-right: 93px;
 }
 .reviews-text {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   color: #ffffff;
   margin-bottom: 10px;
 }
 .reviews-date {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #d8d8d8;
   margin-bottom: 47px;
 }
 .review-content-block {
   display: flex;
 }
 .review-person-div {
   margin-left: 12px;
 }
 .review-person {
   width: 35px;
   height: 35px;
 }
 .review-person-name {
  color: white;
 }
 .review-loyalty {
  color: white;
 }
 /*FIFTH SECTION*/
 .order {
   padding-top: 20px;
   padding-bottom: 37px;
   background-image: url(./fonfour.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .order-heading {
   font-family: "Playfair Display";
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 64px;
   text-align: center;
   color: #ffffff;
   margin-bottom: 33px;
 }
 .order-form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .order-input {
   display: block;
   width: 580px;
   background-color: #ffffff;
   border-radius: 50px;
   margin-bottom: 20px;
   padding: 13px 25px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 33px;
   color: #959595;
 }
 .order-biginput-wrapper {
   position: relative;
 }
 .order-input-big {
   width: 690px;
 }
 .order-confirm {
   position: absolute;
   top: 13px;
   right: 78px;
   color: rgb(141, 141, 141);
   font-family: Roboto;
   font-size: 28px;
   font-weight: 400;
   line-height: 33px;
 }
 .order-button {
   padding: 20px 50px;
   border-radius: 16px ;
   background-color: rgb(142, 50, 198);
   color: rgb(255, 255, 255);
   font-family: Roboto;
   font-size: 24px;
   font-weight: 400;
   line-height: 28px;
 }
 /*SIXS SECTION*/
 .footer {
  background-color: #021635;
  height: 250px;
 }
 .ul-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding-top:  20px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 12px;
 }
 .footer-items {
  color: white;
  margin-top: 6px;
 }
 .second-li-items {
  color: white;
  text-decoration: underline;
 }
 .footer-p {
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
 }
 .matvey {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
 }
 .imglogo-footer {
  width: 100px;
  height: 70px;
  margin-top: -8px;
 }
 .footer-p:first-child {
  padding-bottom: 6px;
 }
 .have:hover {
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
 }
 .have-a:hover {
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
 }
 .adve:hover {
  background: linear-gradient(
     143deg,
     #ffe128 0%,
     #ff9b5c 30.21%,
     #ff8381 63.29%,
     #ff5489 100%
   );
 }
 .firstonly:hover {
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
 }
 .secondonly:hover {
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
 }
 .thirdonly:hover {
  background: linear-gradient(
    143deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
 }
#id-one:hover {
  background: linear-gradient(
    137deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}
#id-two:hover {
  background: linear-gradient(
    137deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
}
.firstonly {
color: white;
}
.secondonly {
color: white;
}
.thirdonly {
color: white;
}